* {
  padding: 0px;
  margin: 0px;
}

.quantityButton {
  min-width: 120px;
  border: 1px solid #222;
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quantityButton span {
  font-size: 18px;
  margin: 15px;
}

.quantityButton button {
  top: 0px;
  width: 30px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border: 0;
  background: 0 0;
  font-weight: 500;
  cursor: pointer;
}
